services:
  app:
    container_name: express_demo
    network_mode: host
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "6000:6000"
    env_file:
      - .env
    restart: always